<br />

<div class="centro">
  <img src="scr/assets/circulo.png" width="30%" height="30%" />
</div>

<div class="centro">
  <h4>XXXXXXXXXXXXXXXXX</h4>
</div>

<form
  class="propuesta-card"
  [formGroup]="userForm"
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(UserName.value, Password.value)"
>
  <div>
    <mat-form-field style="width: 90%;" appearance="outline">
      <mat-label>Usuario</mat-label>
      <input
        id="UserName"
        #UserName
        matInput
        formControlName="UserName"
        min="6"
      />
    </mat-form-field>
  </div>
  <div>
    <!-- appearance="standard" -->
    <mat-form-field style="width: 90%;" appearance="outline">
      <mat-label>Introduce tu contraseña</mat-label>
      <input
        id="Password"
        #Password
        matInput
        formControlName="Password"
        min="6"
        [type]="!hide ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide = !hide">
        {{ hide ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </mat-form-field>
  </div>
  <div *ngIf="isLoginError">
    <i style="color:red">Credenciales incorrectas</i>
  </div>
  <br />
  <div>
    <button
      mat-stroked-button
      style="height: 40px; width: 91%; font-size: 25px"
      type="submit"
      [disabled]="!userForm.valid"
    >
      Siguiente
    </button>
  </div>
</form>

<div class="example-container">
  <mat-form-field>
    <input
      matInput
      placeholder="Enter your password"
      [type]="hide ? 'password' : 'text'"
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? 'visibility' : 'visibility_off'
    }}</mat-icon>
  </mat-form-field>
</div>
