<br />

<form
  class="propuesta-card"
  [formGroup]="userForm"
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(UserName.value, Password.value)"
>
  <div class="centro">
    <div class="centro">
      <img src="assets/circulo.png" width="90" height="110" />
    </div>
    <h3>Proceso de transformación</h3>
  </div>
  <div>
    <!-- appearance="standard" -->
    <mat-form-field style="width: 90%;" appearance="outline">
      <mat-label>Usuario</mat-label>
      <input
        id="UserName"
        #UserName
        matInput
        formControlName="UserName"
        min="6"
      />
    </mat-form-field>
  </div>
  <div>
    <!-- appearance="standard" -->

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </div>
  <div *ngIf="isLoginError">
    <i style="color:red">Credenciales incorrectas</i>
  </div>
  <br />
  <div>
    <button
      mat-stroked-button
      style="height: 40px; width: 91%; font-size: 25px"
      type="submit"
      [disabled]="!userForm.valid"
    >
      Siguiente
    </button>
  </div>
</form>
